{% extends "base.html" %}

{% block stylesheets %}
<style>

.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: 1px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 8px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  font-size: 20px;
}

</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
  <div style="margin-left:50px;margin-top: 50px">
  <div>
      <h3>View Evidence</h3>
      <div></div>
  </div>
  <form method="POST" id="add-evidence">
      <h3>Enter Evidence Name or Flag</h3>
      <div class="form-group">
        <label for="flag">Evidence Name/Flag:</label>
        <input type="text" name="flag"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br />
  <form method="POST" id="remove-evidence">
      <h3>Remove Evidence</h3>
      <div class="form-group">
        <label for="evidence-name">Remove Evidence:</label>
        <input type="text" name="evidence-name"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br />
  <form method="POST" id="add-connection">
      <h3>Enter Evidence Connection</h3>
      <div class="form-group">
        <label for="evidence-name1">Evidence Name 1:</label>
        <input type="text" name="evidence-name1"></input>
      </div>
      <div class="form-group">
        <label for="evidence-name2">Evidence Name 2:</label>
        <input type="text" name="evidence-name2"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div>
  </div>
  <div class="col-md-8">
    <div id="graph"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var load_graph;

function view_challenge(chal_name) {
  $.get(chal)
}

$( "form" ).submit(function( event ) {
  var ele_id = $(this).attr("id");
  var $this = $(this);
  if (ele_id == "add-evidence") {
    var flag = $this.find('[name="flag"]').val();
    $.post("/addevidence", {"flag": flag}).done(function(data) {
      data = JSON.parse(data);
      if (data["error"] === undefined) {
        alert("Nice! Your flag was submitted sucessfully :)");
        load_graph();
      } else {
        if (data["confirm"] !== undefined) {
          o = confirm("You did not submit a valid flag, would you like to add this as evidence anyways?");
          if (o) {
            $.post("/confirmevidence", {"flag": flag}).done(function(data) {
              data = JSON.parse(data);
              if (data["error"] === undefined) {
                alert("Nice! Your evidence was submitted sucessfully :)");
                load_graph();
              } else {
                alert(data["error"]);
              }
            });
          }
        } else {
          alert(data["error"]);
        }
      }
    });
  } else if (ele_id == "remove-evidence") {
    $.post("/removeevidence", {"evidence-name": $this.find('[name="evidence-name"]').val()}).done(function(data) {
      data = JSON.parse(data);
      if (data["error"] === undefined) {
        alert("Your evidence was removed");
        load_graph();
      } else {
        alert(data["error"]);
      }
    });
  } else if (ele_id == "add-connection") {
    $.post("/addconnection", {"evidence-name1": $this.find('[name="evidence-name1"]').val(), "evidence-name2": $this.find('[name="evidence-name2"]').val()}).done(function(data) {
        data = JSON.parse(data);
        if (data["error"] === undefined) {
          alert("Your evidence connection was made :3");
          load_graph();
        } else {
          alert(data["error"]);
        }
    });
  }
  event.preventDefault();
});

window.onload = function() {

load_graph = function() {
  $("#graph").empty();
  var width = 900,
      height = 750;

  var svg = d3.select("#graph").append("svg")
      .attr("width", width)
      .attr("height", height);

  var force = d3.layout.force()
      .gravity(0.03)
      .distance(150)
      .charge(-300)
      .size([width, height]);

  function link_click(d) {
    console.log("Clicked");
  }

  // Toggle children on click.
  function click(d) {
    if (!d3.event.defaultPrevented) {
      if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }
      //update();
    }
  }

  function color(d) {
    return d.group == 1 ? "#3182bd" :  "#c6dbef";
  }

  d3.json("/getevidence", function(error, json) {
    if (error) throw error;

    force
        .nodes(json.nodes)
        .links(json.links)
        .start();

    var link = svg.selectAll(".link")
        .data(json.links)
      .enter().append("line")
        .attr("class", "link")
        .on("click", link_click);

    var node = svg.selectAll(".node")
        .data(json.nodes)
      .enter().append("g")
        .attr("class", "node")
        .call(force.drag);

    node.append("circle")
        .attr("class", "node")
        .attr("x", function(d) { return -8; })
        .attr("y", function(d) { return -8; })
        .attr("r", function(d) { return 12;})
        .style("fill", color)
        .on("click", click)
        .call(force.drag);

    node.append("text")
        .attr("dx", 18)
        .attr("dy", ".34em")
        .text(function(d) { return d.name });

    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    });
  });
}
load_graph();
};

</script>
{% endblock %}
